.Trading {
	width: 100%;
	height: 530px;
	border: 0px solid #181818;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	background-color: rgb(10, 14, 19, 0.8);
	.select {
		margin-top: 35px;
		margin-bottom: 45px;
		width: 300px;
		height: 80px;
		margin-left: auto;
		margin-right: auto;
		select {
			font-family: "Arial";
			width: 100%;
			cursor: pointer;
			padding: 14px 25px;
			outline: 0;
			border: 1px solid #7b7b7b;
			border-radius: 100px;
			background: #e6e6e6;
			color: #7b7b7b;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
		select:hover {
			color: #000000;
			background: #cccccc;
		}
		select:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
		.selectArrow {
			position: absolute;
			cursor: pointer;
			top: 510px;
			right: 270px;
			width: 18px;
			height: 18px;
			border: solid #7b7b7b;
			border-width: 0 5px 5px 0;
			display: inline-block;
			padding: 3px;
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			pointer-events: none;
		}
	}
}

.price {
	display: flex;
	height: 200px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	.priceButtons {
		font-size: 5rem;
	}
	.verticalLine {
		position: absolute;
		width: 1px;
		height: 100px;
		top: 310px;
		left: 400px;
		background-color: white;
	}
	.price__buy {
		margin-left: 50px;
		color: #18b33e;
	}
	.price__sell {
		margin-right: 50px;
		color: red;
	}
}

.tradeButtons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	button {
		width: 300px;
		height: 120px;
		border: 0;
		font-size: 3rem;
		text-transform: uppercase;
	}
	button:hover {
		cursor: pointer;
		-webkit-box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.1);
		-moz-box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.1);
		box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.1);
	}
	button:active {
		transform: scale(0.99);
		cursor: pointer;
	}
	.tradeButtons__buy {
		border-bottom-left-radius: 20px;
		margin-left: 50px;
		background-color: #18b33e;
	}
	.tradeButtons__sell {
		border-bottom-right-radius: 20px;
		margin-right: 50px;
		background-color: red;
	}
}

.popup {
	position: absolute;
	z-index: -3;
	visibility: hidden;
	top: 180px;
	left: 175px;
	width: 450px;
	height: 350px;
	padding: 20px;
	background-color: rgb(10, 14, 19, 0.4);
	border: 0px solid #181818;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	text-align: center;

	.popup__title {
		color: #4484cf;
		text-shadow: 0px 0px 4px rgba(69, 247, 255, 0.29);
		font-size: 2rem;
		margin-bottom: 50px;
	}
	span {
		font-size: 1.5rem;
		input {
			height: 30px;
			outline: 0;
		}
	}
	.popup__buttons {
		display: flex;
		flex-direction: row;
		height: 50px;
		margin-top: 50px;
		.popupButtons__button {
			font-size: 1rem;
			width: 110px;
			height: 50px;
			border-radius: 42px;
			display: inline-block;
			cursor: pointer;
			color: #ffffff;
			padding: 10px 20px;
			text-decoration: none;
		}
		.popupButtons__okBtn {
			background-color: #4484cf;
			margin-left: 40px;
		}
		.popupButtons__okBtn:hover {
			box-shadow: 0px 0px 10px 1px #4484cf;
			text-shadow: 0px 1px 0px #4484cf;
		}
		.popupButtons__cancelBtn {
			background-color: grey;
			margin-left: 120px;
		}
		.popupButtons__cancelBtn:hover {
			box-shadow: 0px 0px 5px 1px grey;
		}
	}
}

.buyColor {
	font-size: 1.5rem;
	span {
		color: #18b33e;
		font-size: 1.5rem;
	}
}
.sellColor {
	font-size: 1.5rem;
	span {
		color: red;
		font-size: 1.5rem;
	}
}

.backgroundPopup {
	position: absolute;
	z-index: -3;
	transform: translate(-30%, -10%);
	top: 0;
	left: 0;
	width: 200vw;
	height: 200vh;
	background-color: rgb(0, 0, 0, 0.8);
	backdrop-filter: blur(20px);
}
